*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-weight: var(--font-medium);
}

:root{

    /* ------------ colors ------------ */
    --main-color: #7d2ae8;
    --text-color: #777;
    --text-color-dark: #333;
    --text-color-white: #fff;
    --text-color-dim: #ccc;
    
    /* ------------ background color ------------ */
    --body-color: #fff;
    --bg-color-dim: #eee;

    /* ------------ font size ------------ */
    --font-small: 14px;
    --font-mid: 18px;
    --font-large: 24px;
    --font-xl: 30px;
    --font-title: 35px;

    /* ------------ font weight ------------ */
    --font-light: 400;
    --font-medium: 500;
    --font-bold: 600;
}

/* ----------------------- Main css ----------------------- */
body{
    background: var(--body-color);
    transition: 0.3s;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn1{
    border: 3px solid var(--main-color);
    background: var(--body-color);
    padding: 10px 20px;
    border-radius: 10px;
    color: var(--main-color);
    font-weight: var(--font-bold);
    font-size: var(--font-medium);
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
}

.btn1:hover{
    background: var(--main-color);
    color: var(--text-color-white);
}

.btn2{
    border: 3px solid var(--main-color);
    padding: 10px 20px;
    border-radius: 10px;
    background: var(--main-color);
    color: var(--text-color-white);
    font-size: var(--font-medium);
    font-weight: var(--font-bold);
    text-decoration: none;
}

.btn2:hover{
    filter: saturate(0.5);
}